/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    line-height: 1.6;
    background-size: cover;
    padding-top: 40px;
    text-align: center;
}

/* MENU DE NAVEGAÇÃO E CABEÇALHO */
header {
    position: relative;
    background-color: #062452;
    color: white;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0d0553;
    z-index: 1000;
}

nav .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 5px;
    display: flex;
    align-items: center;
    position: relative;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0 5px;
    transition: color 0.3s ease;
    border-radius: 4px;
    display: inline-block;
    white-space: nowrap;
}

.menu li a:hover {
    color: #597ab6;
}

.hero {
    background-color: #00055f;
    padding: 50px 0 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: start;
}

.hero h1 {
    font-size: 2.8rem;
    margin-bottom: 15px;
}

.hero p {
    font-size: 1.3rem;
    max-width: 800px;
    margin: 0 auto;
}

/* DROPDOWN */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #040629;
    list-style: none;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.dropdown-content li {
    margin: 0;

}

.dropdown-content a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    font-size: 0.9rem;
}

.dropdown-content a:hover {
    background-color: #184f7c;
    color: #1e90ff;
}

/* Mostrar o dropdown ao passar o mouse */
.dropdown:hover .dropdown-content {
    display: block;
}
/* ESTILOS DAS SEÇÕES */
section {
    margin: 0;
    padding: 20px 0;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

ul {
    padding-left: 20px;
}

li {
    text-align: left;
}

#sobre {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#ferramentas, 
#passo,
#oqe,
#tipos,
#evolucao,
#intel,
#amd,
#kabum,
#pichau,
#amazon,
#diferencas,
#objetivo,
#ar,
#liquida,
#fans,
#pv,
#pm,
#qf,
#qt,
#jogos,
#trabalho,
#estudo {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#sobre li,
#ferramentas li,
#tipos li,
#intel li,
#amd li,
#diferencas li,
#objetivo li,
#ar li,
#liquida li,
#fans li,
#pv li,
#pm li,
#qt li,
#jogos li,
#trabalho li,
#estudo li {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

#sobre p,
#oqe p,
#ferramentas p,
#passo p,
#tipos p,
#evolucao p,
#intel p,
#amd p,
#kabum p,
#pichau p,
#amazon p,
#diferencas p,
#objetivo p,
#ar p,
#liquida p,
#fans p,
#pv p,
#pm p,
#qf p,
#qt p,
#jogos p,
#trabalho p,
#estudo p {
    text-align: left;
    margin-bottom: 10px;
    font-size: 1.3rem;
}

#passo h1,
#video h1,
#oqe h1,
#ferramentas h1,
#sobre h1,
#tipos h1,
#evolucao h1,
#intel h1,
#amd h1,
#kabum h1,
#pichau h1,
#amazon h1,
#diferencas h1,
#objetivo h1,
#ar h1,
#liquida h1,
#fans h1,
#pv h1,
#pm h1,
#qf h1,
#qt h1,
#jogos h1,
#trabalho h1,
#estudo h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-bottom: 10px;
    color: black;
}

#passo h2,
#video h2,
#oqe h2,
#ferramentas h2,
#tipos h2,
#evolucao h2,
#intel h2,
#amd h2,
#kabum h2,
#pichau h2,
#amazon h2,
#diferencas h2,
#objetivo h2,
#ar h2,
#liquida h2,
#fans h2,
#pv h2,
#pm h2,
#qf h2,
#qt h2,
#jogos h2,
#trabalho h2,
#estudo h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #062452;
}

#sobre h3,
#video h3,
#oqe h3,
#tipos h3,
#evolucao h3,
#intel h3,
#amd h3,
#kabum h3,
#pichau h3,
#amazon h3,
#diferencas h3,
#ar h3,
#liquida h3,
#fans h3,
#pv h3,
#pm h3,
#qf h3,
#qt h3,
#jogos h3,
#trabalho h3,
#estudo h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #001e5e;
}

#kabum a,
#pichau a,
#amazon a {
    color: #062452;
    text-decoration: none;
    font-weight: bold;
}
/* STYLE DAS IMAGENS */
/* img do diogão */
#diogo {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 30px;
}
/* img do processador, tipos de processadores, evolução processadores, intel, amd */
#oqe img,
#tipos img,
#evolucao img,
#intel img,
#amd img,
#kabum img,
#pichau img,
#amazon img,
#diferencas img,
#ar img,
#liquida img,
#fans img,
#pv img,
#pm img,
#qf img,
#qt img,
#jogos img,
#estudo img {
    max-width: 95%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#trabalho img{
    width: 95%;
    max-width: 95%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.active {
    display: block;
}

.ocultar {
    display: none;
}
/* RESPONSIVIDADE */
/* Menu hambúrguer para responsividade em celulares e telas pequenas */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 1100;
}

.menu-toggle span {
    width: 30px;
    height: 4px;
    background: white;
    margin: 5px 0;
    border-radius: 2px;
    display: block;
}

@media (max-width: 900px) {
    body {
        font-family: Arial, sans-serif;
        background-color: white;
        color: black;
        line-height: 1.6;
        background-size: cover;
        padding-top: 20px;
        text-align: center;
    }

    .menu {
        flex-direction: column;
        background: #130872;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        display: none;
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        margin: 15px 0;
        text-align: center;
    }

    .menu-toggle {
        display: flex;
    }

    nav {
        background-color: #00055f;
    }

    nav .container {
        position: relative;
    }
}